@media (min-height: 300px) and (max-height: 414px) {

	.popup-window * {
		font-size: 90% !important;
	}
		.form__label {
			width: 45% !important;	
		}

		.form__value {
			width: 40% !important;
		}

		.form__button {
			width: 86% !important;
			height: 45px !important;
		}
}


/*max условие сработает ДО 550 пкс*/
@media (max-width: 550px) { 

html, body {
	width: auto;
}




.header__child {
		display: none;
	}


.mobile {
	display: block;
}

.child__element {
	width: auto;
	padding: 0;
}

.title {
	font-size: 30px;
}

.main-button{
	width: 85%;
}

.main__skills-list {
	/*наслаивает блоки, чтобы не появилось разделение на 
	мобильной версии*/
	position: relative;
    bottom: 2px;
}

/*transform start*/
	.transform {
		display: none;
	}
/*transform end*/
/*header start*/
	.header__mobile {
		display: flex;
		justify-content: space-around;
		padding: 30px 0;
	}
		.header__tablet-button {
			display: none;
		}
		.header-mob-button {
			width: 35px;
			height: 35px;
			border: none;
			background-color: transparent;
			
    		color: #f82370;
		}
			.header__mobile-menu {
				font-size: 30px;
			}
			.header__mobile-call {
				border: 1px solid #f82370;
				border-radius: 20px;
				font-size: 23px;
			}

		.header__mobile-phone-text {
			font-weight: bold;
			margin-top: 5px;
		}
			.mob-phone-number {
				margin: 0;
			}
/*header end*/

/*introduction start*/
	.main__introduction {
		background-position: 50% -7%;
		background-repeat: no-repeat;
	}

	.introduction__child {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
		.introduction__left-side {
			order: 1;
			width: 100%;
			background-color: white;
			padding-top: 15px;
			text-align: center;
		}

			.introduction__title {
				font-size: 30px;
				margin: 0;
				text-align: center;
			}

			.introduction__description {
				text-align: center;
			}

			.introduction__foto {
				display: block;
				width: 77%;
				height: auto;
				right: 0;
				left: 13%;
			}

		.introduction__right-side {
			order: 0;
			width: auto; 
		}

/*introduction end*/

/*skills-list start*/
	.skills-list {
		flex-direction: column;
		text-align: center;
		flex-wrap: nowrap;
	}
		.skills-list__title {
			font-size: 30px;
			margin-top: 0;
		}

		.skills-list__item {
			width: 100%;
			margin: 0;
		}
			.skills-list__img {
			    width: 20%;
			}
			.skills-list__description {
			    font-size: 18px;
			    padding: 0 40px 20px 40px;
			}

		.skills-list__button {
		    align-self: center;
		}
/*skills-list end*/

/*examples start*/
		.examples__child {
			display: flex;
			flex-direction: column;
		}
			.slider_mobile.slider {
				/*перебиваю стиль из style*/
			    margin: 20px 20px;
			}

		.slider__button {
			display: none;
		}

		.examples__button {
			align-self: center;
		}
/*examples end*/

/*agitation start*/
	.agitation {
		height: auto;
	}
		.agitation__title {
			width: auto;
			margin: 0 20px;
		}

		.agitation__description {
			width: auto;
			padding: 30px 20px 45px 20px;
		    line-height: 2;
		}
/*agitation end*/

/*footer start*/

	.footer {
		width: auto;
		padding: 40px 20px 40px 20px;
	}
		.footer__child {
			width: 100%;
			flex-direction: column;
			margin: 0;
		}
		.menu-nav__item {
			margin-right: 0;
			margin-bottom: 25px;
		}
			.menu-nav__list_table {
				flex-direction: column;
			}
				.footer__phone-number {
					font-size: 20px;
				}

				.footer__call-button {
					align-self: center;
					width: 100%;
					border: none;
				    background-color: #ff4e2e;
				    color: white;
				    font-size: 17px;
				    height: 60px;
				    cursor: pointer;
					margin-bottom: 20px;
					
				}
/*footer end*/

/* последние селекторы приоритетнее */

/* popup window start */

.popup-window {
	width: 90%;

}

	.popup-window * {
		font-size: 100%;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.form {
		padding: 20px 0px;
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		justify-content: center;
	}

		.form__label {
			width: 75%;	
		}

		.form__value {
			width: 75%;
		}

		.info {
			height: 3em;
			resize: none;
		}

		.form__button {
			border: none;
			background-color: #ff4e2e;
			color: white;
			font-size: 17px;
			width: 75%;
			height: 60px;
			cursor: pointer;
			margin-top: 15px;
		}
/* popup window end */


/* mobile menu slider start  */

.mobile__slider-menu {
	display: none;
	position: absolute;
	padding-bottom: 30px;
}
	.menu-nav__item_slider	{
		margin-bottom: 0;
	}
	.menu-nav-list_slider .menu-nav__link {
		padding-left: 8%;
		color: white;
		border-bottom: 1px solid white;
		background-color: #f82370;
	}

	.close-slider {
		height: 2em;
		border: 1px solid white;
		width: 2em;
		align-self: center;
		border-radius: 25px;
		background-color: #f82370;
		z-index: 5;
	}

/* transform menu start*/
	.mobile__slider-menu {
		-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
		animation-duration: 1s;
	}

	.animate-up {
		display: block;
		animation-name: slider-up;
	}

		@-webkit-keyframes slider-up {
			from {top: 0%; opacity: 0;}
			to {top: -100%; opacity: 0;}
		}

		/* Standard syntax */
		@keyframes slider-up {
			from {top: 0%; opacity: 0;}
			to {top: -100%; opacity: 0;}
		}

	.animate-down {
		animation-name: slider;
	}

		@-webkit-keyframes slider-down {
			from {top: -50%; opacity: 1;}
			to {top: 0%; opacity: 1;}
		}

		/* Standard syntax */
		@keyframes slider-down {
			from {top: -50%; opacity: 1;}
			to {top: 0%; opacity: 1;}
		}
/* transform menu end */
/* mobile menu slider end  */

}
